@{
    ViewBag.Title = "Teachers";
}

<h2>Teachers</h2>

<ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="~/TestSchemes">Tests</a></li>
    <li role="presentation"><a href="#">Questions</a></li>
    <li role="presentation"><a href="#">ThematicFields</a></li>

</ul>

